
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.bigCounter{    
    border: 5px solid ; 
    background-color: rgb(10, 10, 10);   
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;        
    grid-column-gap: 10px;        
    grid-row-gap: 1px; }
.div1 { grid-area: 1 / 3 / 2 / 5; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 4 / 2 / 5; }
.div4 { grid-area: 1 / 4 / 2 / 5; }

.digitFour{
    background-color: aqua;
    font-size: 50px;
    text-align: center;
}
.digitThree{
    background-color: aqua;
    font-size: 50px;
    text-align: center;
}
.digitTwo{
    background-color: aqua;
    font-size: 50px;
    text-align: center;
}
.digitOne{
    background-color: aqua;
    font-size: 50px;
    text-align: center;
}
.clock{
    background-color: aqua;
    font-size: 50px;
    text-align: center;
}